<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8" />
        <title>Rx Identify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

</head>
<body>
    <p><h1 id='app_name'>Rx Identify</h1></p>
    <img id ='logo_img'src='../static/images/search.jpg' alt ='Search Picture'  />
    <div id='introduction'>
        <ul> <h1>Welcome</h1> 
            <li>Enter information on <strong>one side</strong> of the pill/capsule. Front or back.Not Both!</li>
            <li><strong>Disclaimer:Always double check with your healthcare providers and pharmacists.</strong></li>
            <li>Only some results will be returned back.</li>

        </ul>

    </div>
    <div class="container">
        <div class="row">
            <h2>Select an image to upload or Type in the imprint of one side</h2>
   
           
            <div id="forms_container">
                <div class='forms '>
                    <form  id= 'image_form' method="post" action="/" enctype="multipart/form-data">
            
                        <p>
                            
                            <input type="file" name="file" class="form-control" autocomplete="off" required>
                        </p>
                
                        <p>
                            <input type="submit" value="Submit" class="btn_submit">
                        </p>
                    </form>
                </div>
                <div class='forms'>        
                    <form id='text_form' method="post" action="/text_input" >
                    
                        <p>
                            <label for="shape">Type the imprint:</label>
                            <input type="text" name="imprint" placeholder="Enter 1 Side Imprint" class="form-control" autocomplete="off" required>
                        </p>
                        
                        <p>
                            <label for="shape">Choose a shape:</label>
                            <select  name="shape">
                                <option  selected="selected" value="0"> --Optional --</option>
                                <option value="14">ROUND</option>
                                <option value="2">OBLONG</option>
                                <option value="1">BULLET</option>
                                <option value="3">CLOVER</option>
                                <option value="4">DIAMOND</option>
                                <option value="5">DOUBLE CIRCLE</option>
                                <option value="8">HEPTAGON (7 sided)</option>
                                <option value="9">HEXAGON (6 sided)</option>
                                <option value="10">OCTAGON (8 sided)</option>
                                <option value="11">OVAL</option>
                                <option value="12">PENTAGON (5 sided)</option>
                                <option value="13">RECTANGLE</option>
                                <option value="15">SEMI-CIRCLE</option>
                                <option value="16">SQUARE</option>
                                <option value="17">TEAR</option>
                                <option value="18">TRAPEZOID</option>
                                <option value="19">TRIANGLE</option>
                                <option value="6">OTHER</option>
                            </select>
                        </p>
                        <p>
                            <input type="submit" value="Submit" class="btn_submit">
                        </p>
                    </form>
                </div>
  
            </div>
            <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div>
                        {% for message in messages %}
                            <span id='img_message'>{{ message }}</span>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </p>
            {% if filename or submit_text_form %}
            <div>
                {% if filename %}
                <div id='img_result_wrapper'>
                    <div>
                        
                        <img  id='uploaded_img' src="{{ url_for('display_image', filename=filename) }}">
                    </div>
                    <div>
                        <div> <i class="fas fa-arrow-alt-circle-left"></i> Your uploaded image</div>
                        <div>Detected Text:<span class='img_result_text'> {{detected_text}}</span></div>
                        <div>Confidence: <span class='img_result_text'>{{detected_confidence}}%</span></div>
                    </div>
                </div>
                {% endif %}
                {% if (drug_data) is string %}
                    <div class='img_result_text'>{{drug_data}}</div>
                {% else %}
                    <div id="drugs_result_overall">
                    {% for drug in drug_data%}
                        <div class="each_drug_result">
               
                            <div style='color:blue'>{{drug.name}}</div>
                            <div>{{drug.manufacturer}}</div>
                            <div style='color:green'>{{drug.description}}</div>
                            <div style='color:red'>{{drug.imprint}}</div>
                        </div> 
                        
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        </div>
    </div>
</body>
</html>